/* styles.css */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #E0E0E0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF;
}

.course-list, .course-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.course-card {
    border: 1px solid #333;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #1E1E1E;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-card:hover {
    transform: scale(1.05);
}

.course-card h2 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #FFFFFF;
}

.course-card p {
    font-size: 14px;
    margin: 5px 0;
    color: #B0B0B0;
}

.course-thumbnail {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-bottom: 10px;
}

.add-course-btn {
    background-color: #1F1F1F;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.add-course-btn:hover {
    background-color: #3D3D3D;
}

.enroll-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.enroll-btn:hover {
    background-color: #0056b3;
}
